<div class="card">
  <div class="image">
    <img src="{{character.image}}" class="card-img-top" alt="'No image found'">
  </div>
  <div class="card-body description">
    <div class="name">
      <h4 class="card-title">{{character.name}}</h4>
    </div>
    <button class="btn btn-success text-nowrap"
      [class.expand]="isInDetailsView"
      (click)="toggleDetailsDisplay(true)">
      View Details
    </button>
  </div>
</div>

<div class="card-details"
  *ngIf="isInDetailsView">
  <character-details
    [character]="character"
    (closeDetails)="toggleDetailsDisplay(false)">
  </character-details>
</div>