<ng-template #details>
  <div class="modal-header header">
    <h4 class="modal-title pull-left">{{character.name}}</h4>
    <button type="button"
      class="close pull-right close-btn"
      aria-label="Close"
      (click)="onCloseDetails()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body content">
    <div class="profile-pic">
      <img src="{{character.image}}" class="card-img-top" alt="'No image found'">
    </div>
    <div class="content-table">
      <ng-content *ngTemplateOutlet="characterInfoTable"></ng-content>
    </div>
  </div>
</ng-template>

<ng-template #characterInfoTable>
  <table>
    <thead>
      <th class="content-table-header"></th>
      <th></th>
    </thead>
    <tbody>
      <tr class="actor">
        <td>Actor</td>
        <td>{{character.actor}}</td>
      </tr>
      <tr class="birthday"
        *ngIf="character.birthday">
        <td>Born</td>
        <td>{{character.birthday | date}}</td>
      </tr>
      <tr class="nickname"
        *ngIf="character.nickname">
        <td>Nickname</td>
        <td>{{character.nickname}}</td>
      </tr>
      <tr class="occupations"
        *ngIf="character.occupations && character.occupations.length">
        <td class="occupations-cell">Occupations</td>
        <td>
          <ng-content *ngTemplateOutlet="occupations; context: { occupations: character.occupations}"></ng-content>
        </td>
      </tr>
      <tr class="status">
        <td>Status</td>
        <td>{{character.status}}</td>
      </tr>
      <tr class="seasons">
        <td>Seasons appeared</td>
        <td>
          <ng-content *ngTemplateOutlet="seasonAppearances; context: { seasons: character.seasons}">
          </ng-content>
        </td>
      </tr>
      <tr class="betterCallSaulSeasons"
        *ngIf="character.series === 'Breaking Bad'">
        <td>Starred in "Better Caul Saul"</td>
        <td>
          <span *ngIf="character.betterCallSaulSeasons.length > 0">Yes</span>
          <span *ngIf="character.betterCallSaulSeasons.length === 0">No</span>
        </td>
      </tr>
    </tbody>
  </table>
</ng-template>

<ng-template #seasonAppearances
  let-seasons="seasons">
  <span *ngFor="let season of seasons; let idx = index">
    <span>{{season}}</span>
    <span *ngIf="idx < seasons.length - 1">, </span>
  </span>
</ng-template>

<ng-template #occupations
  let-occupations="occupations">
  <span *ngFor="let occupation of occupations; let idx = index">
    {{occupation}}<span *ngIf="idx < (character.occupations.length - 1)">,<br></span>
  </span>
</ng-template>
