@import "colors";

:host::ng-deep {
  .dropdown-toggle::after {
    vertical-align: middle;
    color: @white;
  }
}

.text {
  color: @white;
}

.series-selector {
  background-color: @success-green;
}

.example-viewport {
  height: 90px;
  width: 100px;
  inset: 100% auto auto 44% !important;
  .example-item {
    height: 40px;
  }  
}
