@import "colors";

:host::ng-deep {
  .dropdown-menu {
    background-color: @breaking-bad-green;
  }

  .dropdown-toggle::after {
    vertical-align: middle;
    color: @white;
  }
}

.text {
  color: @white;
}

.series-selector {
  background-color: @success-green;
}

.example-viewport {
  height: 90px;
  width: 100px;
  inset: 100% auto auto 44% !important;

  .example-item {
    height: 40px;
    padding: 0 5px 0 5px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;

    &:hover {
      cursor: pointer;
      background-color: @success-green;
    }

    .arrow-right {
      color: @white;
      position: relative;
      top: 6px;
    }
  }  
}
