<mat-form-field appearance="fill">
  <mat-select #seriesSelect
    *ngIf="!isSeriesSelected"
    placeholder="Select series"
    panelClass="select-dropdown"
    [(ngModel)]="selectedSeries">
    <mat-select-trigger>{{selectedSeries}}</mat-select-trigger>
    <mat-option *ngFor="let series of allSeries"
      [value]="series"
      (click)="onSelectSeries()">
      <span class="text">{{series}}</span>
      <span class="icon"><mat-icon>keyboard_arrow_right</mat-icon></span>
    </mat-option>
  </mat-select>

  <mat-select #detailsSelect
    *ngIf="isSeriesSelected"
    placeholder="Select details"
    panelClass="select-dropdown"
    [(ngModel)]="selectedDetails">
    <mat-select-trigger>{{selectedDetails}}</mat-select-trigger>
    <mat-option class="back"
      (click)="onGoingBack()">
      <span class="icon"><mat-icon>keyboard_backspace</mat-icon></span>
      <span class="back-text">{{selectedSeries}}</span>
    </mat-option>
    <mat-option *ngFor="let details of allDetails"
      [value]="selectedDetails"
      class="detail-option">
      <span class="text">{{details}}</span>
    </mat-option>
  </mat-select>
</mat-form-field>
