<div class="background-cover">
  <img class="image" src="assets/img/bg.jpg">
</div>

<div class="app container-fluid">
  <div class="sidenav-logo-container">
    <div class="sidenav-content">
      <mat-drawer-container class="example-container" autosize>
        <mat-drawer #drawer class="example-sidenav" mode="side">
          <p>Breaking Bad</p>
          <p>Better Caul Saul</p>
        </mat-drawer>
      
        <div class="example-sidenav-content">
          <button type="button" mat-button (click)="drawer.toggle()">
            Toggle sidenav
          </button>
        </div>
      
      </mat-drawer-container>  
    </div>
    <div class="logo">
      <img src="assets/img/logo.png">
    </div>
  </div>
  <div class="tab-set">
    <tab-set
      [tabPath]="tabPath"
      (selectedTab)="routeToSelectedTab($event)">
    </tab-set>
  </div>

  <div class="content container-fluid">
    <div *ngIf="tabPath.toLowerCase() === 'characters'"
      class="characters">
      <characters></characters>
    </div>
    <div *ngIf="tabPath.toLowerCase() === 'quotes'"
      class="quotes">
      <quotes></quotes>
    </div>
    <div *ngIf="tabPath.toLowerCase() === 'deaths'"
      class="deaths">
      <deaths></deaths>
    </div>
  </div>
</div>

