<div class="background-cover">
  <img class="image" src="assets/img/bg.jpg">
</div>

<div class="app container-fluid">
  <div class="sidenav-logo-container">
    <div class="sidenav-content">
      <mat-sidenav-container class="example-container">
        <mat-sidenav #sidenav
          mode="side"
          class="example-sidenav">
          <p>Breaking Bad</p>
          <p>Better Caul Saul</p>
        </mat-sidenav>
      
        <mat-sidenav-content>
          <p class="menu-section">
            <a class="hamburger-menu-icon"
              (click)="sidenav.toggle()">
              <i class="fa fa-bars"></i>
            </a>
          </p>
        </mat-sidenav-content>
      </mat-sidenav-container>
    </div>
    <div class="logo">
      <img src="assets/img/logo.png">
    </div>
  </div>
  <div class="tab-set">
    <tab-set
      [tabPath]="tabPath"
      (selectedTab)="routeToSelectedTab($event)">
    </tab-set>
  </div>

  <div class="content container-fluid">
    <div *ngIf="tabPath.toLowerCase() === 'characters'"
      class="characters">
      <characters></characters>
    </div>
    <div *ngIf="tabPath.toLowerCase() === 'quotes'"
      class="quotes">
      <quotes></quotes>
    </div>
    <div *ngIf="tabPath.toLowerCase() === 'deaths'"
      class="deaths">
      <deaths></deaths>
    </div>
  </div>
</div>

