/* Media query to check if browser is in dark mode. */
@media (prefers-color-scheme: dark) {
	.background-cover {
		&.img {
			opacity: 0.75;
		}
	}
}

.background-cover {
	position: relative;
	z-index: -1;

	img {
		/* Set rules to fill background */
		min-height: 100%;
		min-width: 1024px;
			
		/* Set up proportionate scaling */
		width: 100%;
		height: auto;
			
		/* Set up positioning */
		position: fixed;
		top: 0;
		left: 0;
	}
}

.app {
	padding-left: 0;
	padding-right: 0;

	.sidenav-content {
		float: left;
	}

	.logo {
		display: flex;
		justify-content: center;
	}

	.tab-set {
		position: relative;
  	top: 20px;
	}

	.content {
		position: relative;
		top: 20px;
		
		.characters, .quotes, .deaths {
			position: relative;
			top: 20px;
		}
	}
}