<div class="sidenav-content">
  <mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav
      mode="side"
      class="example-sidenav">
      <ng-container *ngTemplateOutlet="breakingBadListItem"></ng-container>
      <ng-container *ngTemplateOutlet="betterCallSaulListItem"></ng-container>
    </mat-sidenav>
  
    <mat-sidenav-content>
      <p class="menu-section">
        <a class="hamburger-menu-icon"
          (click)="sidenav.toggle()">
          <i class="fa fa-bars"></i>
        </a>
      </p>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<ng-template #breakingBadListItem>
  <mat-list role="list"
    class="list-item"
    (click)="onMenuItemClick('breaking-bad')">
    <mat-list-item role="listItem">
      <div class="option-breaking-bad">
        <p>
          <span class="series-logo">
            <img class="logo-image logo-breaking-bad"
              src="assets/images/logos/breaking_bad.png">
          </span>
          <span class="series-name">Breaking Bad</span>
        </p>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>
</ng-template>

<ng-template #betterCallSaulListItem>
  <mat-list role="list"
    class="list-item"
    (click)="onMenuItemClick('better-call-saul')">
    <mat-list-item role="listItem">
      <div class="option-better-call-saul">
        <p>
          <span class="series-logo">
            <img class="logo-image logo-better-call-saul"
              src="assets/images/logos/better_call_saul.jpg">
          </span>
          <span class="series-name">Better Call Saul</span>
        </p>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>
</ng-template>
